<template>
    <div class="w-50">
        <form @submit.prevent="storeTodo">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Title</span>
                </div>
                <input v-model="form.title" type="text" class="form-control" placeholder="Todo Title">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Body</span>
                </div>
                <textarea v-model="form.text" class="form-control" aria-label="With textarea" placeholder="Todo Body"></textarea>
            </div>
            <button type="submit" class="btn-success form-control mt-3">Add</button>
        </form>

        <div class="w-100 card shadow mt-3" style="height: 50vh; overflow: auto;">

            <ul class="nav border-bottom sticky-top bg-white" style="cursor: pointer;">
                <li class="nav-item">
                    <a class="nav-link" v-on:click="getTodos()">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" v-on:click="filterTodos('done')">Done</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" v-on:click="filterTodos('pending')">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" v-on:click="filterTodos('deleted')">Deleted</a>
                </li>
            </ul>

            <div class="w-100 border-bottom p-3 d-flex justify-content-between align-items-center" v-for="todo in todos" :key="todo.id">

                <div class="todo-container w-75" v-if="is_editing == false || is_editing != todo.id">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-between align-items-center">
                            <input type="checkbox" class="form-control" v-on:click="toggleTodo(todo)" v-if="todo.status_id ==  2">
                            <input type="checkbox" class="form-control" v-on:click="toggleTodo(todo)" v-if="todo.status_id ==  1" checked>
                        </div>
                        <div class="col d-flex justify-content-between align-items-center">
                            <div>
                                <h4>{{ todo.title }}</h4>
                                <p>{{ todo.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="w-100" @submit.prevent @keydown.enter.prevent='updateTodo(todo)'
                    v-if="is_editing == todo.id">
                    <input v-model="todo.title" type="text" class="form-control">
                    <textarea v-model="todo.text" class="form-control mt-1"></textarea>
                    <div class="actions float-right">
                        <button class="btn btn-sm btn-danger mt-1 d-inline" v-on:click="is_editing = false">cancle</button>
                        <button class="btn btn-sm btn-success mt-1 d-inline" v-on:click="updateTodo(todo)">update</button>
                    </div>
                </form>

                <div class="actions w-25 d-flex justify-content-end" v-if="is_editing != todo.id && todo.deleted_at == null">
                    <button class="btn btn-sm btn-primary mr-1" v-on:click="is_editing = todo.id" v-if="is_editing != todo.id">Edit</button>
                    <button class="btn btn-sm btn-danger" v-on:click="deleteTodo(todo)">delete</button>
                </div>
                <div class="actions w-25 d-flex justify-content-end" v-if="is_editing != todo.id && todo.deleted_at != null">
                    <button class="btn btn-sm btn-success mr-1" v-on:click="restoreTodo(todo)">Restore</button>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                todos: '',
                is_editing: false,
                form: new Form({
                    title: '',
                    text: '',
                })
            }
        },
        methods: {
            getTodos() {
                axios({
                    method: 'get',
                    url: '/api/todo'
                }).then((response) => {
                    this.todos = response.data;
                    console.log(response);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            storeTodo() {
                const data = new FormData();
                data.append('title', this.form.title);
                data.append('text', this.form.text);
                axios({
                        method: 'post',
                        url: '/api/todo',
                        data: data
                    })
                    .then(
                        function (response) {
                            console.log(response);
                        },
                        this.form.reset(),
                        this.getTodos(),
                    )
                    .catch(function (error) {
                        this.form.errors.record(error.response.data.errors)
                    });
            },
            deleteTodo(todo) {
                axios.delete('/api/todo/' + todo.id).then((response) => {
                    this.getTodos();
                }).catch((error) => {
                    this.form.errors.record(error.response.data.errors)
                })
            },
            updateTodo(todo) {

                this.is_editing = false
                let data = new FormData();
                data.append('_method', 'PATCH')
                data.append('title', todo.title)
                data.append('text', todo.text)
                axios({
                    method: 'post',
                    url: '/api/todo/' + todo.id,
                    data: data
                })
                .catch((error) => {
                    this.form.errors.record(error.response.data.errors)
                })
            },
            toggleTodo(data){
                axios({
                    method: 'get',
                    url: '/api/todo/toggle/' + data.id
                })
                .catch((error) => {
                    this.form.errors.record(error.response.data.errors)
                })
            },
            restoreTodo(data){
                axios({
                    method: 'get',
                    url: '/api/todo/restore/' + data.id
                })
                .then(
                    function (response) {
                        console.log(response);
                    },
                    this.filterTodos('deleted'),
                )
                .catch((error) => {
                    this.form.errors.record(error.response.data.errors)
                })
            },
            filterTodos(sortby) {
                axios({
                    method: 'get',
                    url: '/api/todo/filter/' + sortby
                }).then((response) => {
                    this.todos = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },

        mounted() {
            this.getTodos()
        }
    };

</script>
